body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background: #A8E6A2; /* Hijau muda */
    color: #1B5E20; /* Hijau tua */
    padding: 10px 0;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

main {
    margin: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th {
    background: #81C784; /* Hijau muda */
    color: #1B5E20; /* Hijau tua */
    padding: 10px;
}

td {
    padding: 10px;
    text-align: center;
    background-color: #E8F5E9; /* Putih kehijauan */
}

footer {
    text-align: center;
    padding: 10px 0;
    background: #A8E6A2; /* Hijau muda */
    color: #1B5E20; /* Hijau tua */
    position: relative;
    bottom: 0;
    width: 100%;
    font-weight: bold;
}
